.sidebar {
	width: 470px;
	height: 100vh;
	background: linear-gradient(77.12deg, rgba(45,133,80, .7) 16.62%, rgba(94,110,194, .7) 83.38%);
	overflow: auto;
	position: relative;
	color: #FFFFFF;
	z-index: 2;
	&__icons {
		margin-top: 70px;
		margin-left: 50px;
		width: 178px;
		display: flex;
		justify-content: space-between;
	}
	&__params {
		position: absolute;
		bottom: 280px;
		width: 390px;
		margin-left: 50px;
	}
	&__params-title {
		font-family: 'AvenirNextCyr Bold', sans-serif;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 30px;
	}
	&__counters {
		color: $dark_gray;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__queue {
		width: 100%;
		height: 134px;
		font-family: 'AvenirNextCyr Light', sans-serif;
		position: absolute;
		bottom: 0;
		font-size: 38px;
		line-height: 44px;
		background: rgba(255,255,255,.15);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		.current-item {
			font-family: 'AvenirNextCyr Bold', sans-serif;
		}
	}
}