$violet: #8E9AD5;
$gradient_green: #2D8550;
$gradient_violet: #5E6EC2;
$red: #FFABB1;
$gradient_violet2: #8049C7;
$gradient_light-violet: #CA57FD;
$gradient_blue: #169AE4;
$gradient_light-blue: #0CC4FA;
$gradient_yellow: #FFD748;
$gradient_dark-beige: #CAC6AB;
$gradient_mint: #D3E9E1;
$dark_gray: #424242;